<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Button Component</title>
  <link rel="stylesheet" href="/src/styles/styles.css" />
  <link rel="stylesheet" href="/src/styles/test-container.css" />
  <link rel="shortcut icon" href="/src/images/favicon.png" />
  <link rel="stylesheet" href="button.css" />
</head>

<body>
  <div class="test-container test-container--nowhite test-container--column">
    <button class="button button--primary button--shadows button--animated button--scalable">Ingresar</button>
    <button class="button button--primary button--shadows button--animated button--large">Ingresar</button>
    <button class="button button--secondary button--animated">Ingresar</button>
    <button class="button button--icon button--animated">
      <i class="fas fa-right-from-bracket"></i>
    </button>
    <button class="button button--icon button--icon-circle button--animated">
      <i class="fab fa-instagram"></i>
    </button>
    <button class="button button--text button--animated">Ingresar</button>
    <button class="button button--tab-on">Información General</button>
    <button class="button button--tab-off">Figuritas Repetidas</button>
  </div>
</body>
<script src="https://kit.fontawesome.com/007d112e2a.js" crossorigin="anonymous"></script>

</html>