<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
  <title>Navbar Component</title>
  <link rel="shortcut icon" href="/src/images/favicon.png" />
  <link rel="stylesheet" href="/src/styles/styles.css" />
  <link rel="stylesheet" href="/src/styles/test-container.css" />
  <link rel="stylesheet" href="/src/components/commons/button/button.css" />  
  <link rel="stylesheet" href="navbar.css" />
  
</head>
<body>
  <div class="test-container test-container--vh-centered test-container--nav">
    <nav class="footer__navbar navbar">
      <ul class="footer__items navbar__items navbar__items--close">
        <li class="navbar__item">
          <button class="button button--icon button--icon-circle button--animated">
            <i class="fab fa-facebook-f"></i>
          </button>
        </li>
        <li class="navbar__item">
          <button class="button button--icon button--icon-circle button--animated">
            <i class="fab fa-instagram"></i>
          </button>
        </li>
        <li class="navbar__item">
          <button class="button button--icon button--icon-circle button--animated">
            <i class="fab fa-twitter"></i>
          </button>
        </li>
        <li class="navbar__item">
          <button class="button button--icon button--icon-circle button--animated">
            <i class="fab fa-at"></i>
          </button>
        </li>
      </ul>
    </nav>  
  </div>
</body>
<script src="https://kit.fontawesome.com/007d112e2a.js" crossorigin="anonymous"></script>
</html>