/* CSS HSL */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;700;800&family=Roboto:wght@900&display=swap');

:root {
  /* Colors */  
  --color-primary:hsla(207, 100%, 25%, 1);
  --color-secondary:hsla(207, 66%, 43%, 1);
  --color-tertiary:hsla(197, 96%, 46%, 1);
  /* Poin of Interest Color */
  --color-highligthed: hsla(32, 100%, 50%, 1);
  --color-focus: hsla(32, 100%, 65%, 1);
  --color-focus-lighter: hsla(32, 100%, 92%, 1);
  --color-hot: hsla(0, 70%, 50%, 1);
  /* Brigth Colors */
  --color-clear: hsla(0, 0%, 99%, 1);
  --color-clear-medium: hsla(0, 0%, 96%, 1);
  --color-clear-dark: hsla(0, 0%, 94%, 1);
  --color-clear-2dark: hsla(0, 0%, 84%, 1);
  /* Text & Typeface */
  --text-color-white:hsla(0, 0%, 100%, 1);
  --text-color-2lighter: hsla(207, 20%, 75%, 1);
  --text-color-lighter: hsla(207, 20%, 45%, 1);
  --text-color-medium: hsla(207, 25%, 25%, 1);
  --text-color: hsla(207, 30%, 10%, 1);
  /* Card Background Color */
  --gradient-primary: linear-gradient(to right, var(--color-secondary) 20%, var(--color-primary) 80%);
  --card-bg-gradient: linear-gradient(to bottom, var(--color-clear) 80%, rgba(0, 0, 0, 0.07));
  --user-info-background: linear-gradient(to bottom, var(--color-clear-medium), var(--color-clear));
  /* Fonts */
  --typeface-primary: 'Mulish', 'Open Sans', 'Verdana', 'sans-serif';
  --typeface-secondary: 'Roboto', 'Open Sans', 'Verdana', 'sans-serif';
  /* Border Radius */
  --border-radius-xs: 0.5rem;
  --border-radius-md: 1rem;
  --border-radius-xl: 1.5rem;
  /* Box Shadow */
  --box-shadow-xs: 0rem 0.1rem 0.4rem -0.1rem rgba(0, 0, 0, 0.2);
  --box-shadow-sm: 0rem 0.1rem 1rem -0.2rem rgba(0, 0, 0, 0.2);
  --box-shadow-md: 0rem 0.3rem 1rem -0.2rem rgba(0, 0, 0, 0.25);
  --box-shadow-hover: 0rem 2rem 2rem -1.5rem rgba(0, 0, 0, 0.3);
  /* Box Padding */
  --gap-default: 1.6rem;
  --gap-md: 0.8rem;
  --gap-sm: 0.4rem;
  /* Defaul Height */
  --footer-height: 5rem;
  --search-height: 4.6rem;
  /* Animations */
  --transition-time: 0.4s;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

html {
  font-family: var(--typeface-primary);
  font-size: 10px;
  color: var(--text-color)
}

.fas-lp{
  padding-left: 0.15em;
}

.fas-rp{
  padding-right: 0.4em;
}

.fas--hot {
  color: var(--color-hot);
}

.fas--highlighted {
  color: var(--color-focus);
}