<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Radio Button Filter</title>
  <link rel="stylesheet" href="/src/styles/styles.css" />
  <link rel="stylesheet" href="/src/components/commons/input/input.css">
  <link rel="stylesheet" href="./filter.css" />
  <link rel="shortcut icon" href="/src/images/favicon.png" />
</head>

<body>
  <form class="filter">
    <h3 class="filter__title filter__title--primary">Ordenar Por</h4>
    <div class="radio-filter">
      <label for="closest">
        <input type="radio" id="closest" name="radio-filter--option" value="closest" checked>
        Menor Distancia
      </label><br>

      <label for="cheapest">
        <input type="radio" id="cheapest" name="radio-filter--option" value="cheapest">
        Más Barato
      </label><br>

      <label for="pack-quantity">
        <input type="radio" id="pack-quantity" name="radio-filter--option" value="pack-quantity">
        Más Sobres
      </label><br>

      <label for="closest-only">
        <input type="radio" id="closest-only" name="radio-filter--option" value="closest-only">
        Solo los más cercanos
      </label>
    </div>
  </form>
</body>

</html>