<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Card Primary</title>
  <link rel="shortcut icon" href="/src/images/favicon.png" />
  <link rel="stylesheet" href="/src/styles/styles.css" />
  <link rel="stylesheet" href="/src/styles/test-container.css" />
  <link rel="stylesheet" href="/src/components/commons/typeface/typeface.css" />
  <link rel="stylesheet" href="/src/components/commons/list/list.css" />
  <link rel="stylesheet" href="card-primary.css" />
</head>

<body>
  <div class="container container--card">
    <article class="card card--primary card--animated card--shadow">
      <header class="card__header card__header--colored">
        <h2 class="typeface typeface--xl typeface--upper typeface--justify">
          <span>Kiosko "La Scaloneta"</span>
          <span><i class="fas fa-store"></i></span>
        </h2>
      </header>
      <section class="card__content card__content--spaced">
        <ul class="l-list">
          <li class="l-list__line">
            <span class="typeface"><strong class="typeface--strong">Direccion:</strong>&nbsp;Avenida Constituyentes 2334, CABA</span>
          </li>
          <li class="l-list__line">
            <span class="typeface"><strong class="typeface--strong">Ubicación Geográfica:</strong>&nbsp;(34,55445; 44,42342)</span>
          </li>
          <li class="l-list__line">
            <span class="typeface"><strong class="typeface--strong">Distancia:</strong>&nbsp;3 kilómtros</span>
          </li>
          <li class="l-list__line l-list__line--focus l-list__line--highlight">
            <p class="typeface typeface--justify">
              <span><strong class="typeface--strong">Stock de sobres:</strong>&nbsp;45</span>
              <span>Pedidos Pendientes</span>
            </p>
          </li>
          <li class="l-list__line l-list__line--center">
            <p class="typeface typeface--xl typeface--strong">Precio por sobre: $260</p>
          </li>
        </ul>
      </section>
    </article>
  </div>
</body>
<script src="https://kit.fontawesome.com/007d112e2a.js" crossorigin="anonymous"></script>

</html>