<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Card Image</title>
  <link rel="shortcut icon" href="/src/images/favicon.png" />
  <link rel="stylesheet" href="/src/styles/styles.css" />
  <link rel="stylesheet" href="/src/styles/test-container.css" />
  <link rel="stylesheet" href="/src/components/commons/typeface/typeface.css" />
  <link rel="stylesheet" href="/src/components/commons/list/list.css" />
  <link rel="stylesheet" href="card-image.css" />
</head>

<body>
  <div class="test-container test-container--card">
    <article class="card card--image card--animated card--shadow">
      <img class="card__image" src="/src/images/dibu.png" alt="Imagen Emiliano Martinez" />
      <header class="card__header card__header--top-rounded card__header--over">
        <ul class="l-list">
          <li class="l-list__line">
            <h2 class="typeface typeface--md typeface--justify">
              Emiliano Martinez
              <span><i class="fas fa-id-badge"></i>&nbsp;22</span>
              <span><i class="fas fa-trophy fas--highlighted"></i><i class="fas fa-fire fas--hot"></i><i
                  class="fas fa-star"></i>&nbsp;124</span>
            </h2>
          </li>
          <li class="l-list__line">
            <p class="typeface typeface--justify">
              <span>
                <i class="fas fa-weight-scale"></i>
                <strong class="typeface--strong">Peso:</strong>&nbsp;88 kilos
              </span>
              <span>
                <i class="fas fa-ruler-vertical"></i><i class="fas fa-person"></i>
                <strong class="typeface--strong">Altura:</strong>&nbsp;1.95 metros
              </span>
            </p>
          </li>
        </ul>
      </header>
      <section class="card__content card__content--spaced">
        <ul class="l-list">
          <li class="l-list__line">
              <p class="typeface typeface--justify">
                <span><strong class="typeface--strong">Casaca:</strong>&nbsp;23</span>
                <span><strong class="typeface--strong">Nacimiento:</strong>&nbsp;02/09/92 (30 años)</span>
              </p>
          </li>
          <li class="l-list__line">
            <p class="typeface typeface--justify">
              <span><strong class="typeface--strong">Selección:</strong>&nbsp;Argentina</span>
              <span><strong class="typeface--strong">Posición:</strong>&nbsp;Arquero</span>
            </p>            
          </li>
          <li class="l-list__line l-list__line--center l-list__line--focus">
            <p class="typeface typeface--strong typeface--md typeface--upper">Cotización: EU 28.000.000</p>
          </li>
          <li class="l-list__line l-list__line--center">
            <p class="typeface typeface--strong typeface--xl typeface--upper">Cedida por:</p>
            <p class="typeface typeface--md">Juan "Cachito" Caceffo</p>
          </li>
        </ul>
      </section>
    </article>
  </div>
</body>
<script src="https://kit.fontawesome.com/007d112e2a.js" crossorigin="anonymous"></script>

</html>