<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Card Big</title>
  <link rel="shortcut icon" href="/src/images/favicon.png" />
  <link rel="stylesheet" href="/src/styles/styles.css" />
  <link rel="stylesheet" href="/src/styles/test-container.css" />
  <link rel="stylesheet" href="/src/components/commons/button/button.css" />
  <link rel="stylesheet" href="/src/components/commons/list/list.css" />
  <link rel="stylesheet" href="/src/components/commons/typeface/typeface.css" />
  <link rel="stylesheet" href="card-big.css" />
</head>

<body>
  <div class="container-card">
    <article class="card card--big">
      <header class="card__header card__header--colored card__header--column">
        <h2 class="typeface">
          <span>Emiliano Martinez&nbsp;</span>        
        </h2>
        <h2 class="typeface">
          <small class="typeface--sm">(de Alejo Menini)</small>
        </h2>
        <h2 class="typeface">
          <span>
            <i class="fas fa-trophy fas--highlighted"></i><i class="fas fa-fire fas--hot"></i><i
              class="fas fa-id-badge"></i>&nbsp;22
          </span>
        </h2>
      </header>
      <figure class="card__image-container">
        <img class="card__image card__image--vertical-fit" src="/src/images/dibu.png" alt="Imagen Emiliano Martinez" />
      </figure>
      <section class="card__content">
        <ul class="l-list">
          <li class="l-list__line l-list__line--half">
            <p class="typeface">
              <i class="fas fa-weight-scale fas-rp"></i>
              <strong class="typeface--strong">Peso:</strong>&nbsp;88
            </p>
          </li>
          <li class="l-list__line l-list__line--half">
            <p class="typeface">
              <i class="fas fa-ruler-vertical"></i><i class="fas fa-person fas-rp"></i>
              <strong class="typeface--strong">Altura:</strong>&nbsp;1.95 mts.
            </p>
          </li>
          <li class="l-list__line">
            <p class="typeface">
              <strong class="typeface--strong">Nacimiento:</strong>&nbsp;02/09/1992 - <em>31 años</em>
            </p>
          </li>
          <li class="l-list__line l-list__line--half">
            <span class="typeface"><strong class="typeface--strong">Casaca:</strong>&nbsp;23</span>
          </li>
          <li class="l-list__line l-list__line--half">
            <p class="typeface">
              <strong class="typeface--strong">Selección:</strong>&nbsp;Argentina
              <i class="fas fa-trophy fas--highlighted">&nbsp;3</i>
            </p>
          </li>
          <li class="l-list__line l-list__line--half">
            <span class="typeface"><strong class="typeface--strong">Debut:</strong>&nbsp;2012</span>
          </li>
          <li class="l-list__line l-list__line--half">
            <p class="typeface typeface--upper">
              conmebol
              <i class="fas fa-trophy fas--highlighted">&nbsp;10</i>
            </p>
          </li>
          <li class="l-list__line l-list__line--half">
            <p class="typeface"><strong class="typeface--strong">Posición:</strong>&nbsp;Arquero</p>
          </li>
          <li class="l-list__line l-list__line--half">
            <p class="typeface"><strong class="typeface--strong">No es lider</strong><span>
          </li>
          <li class="l-list__line l-list__line--center l-list__line--focus l-list__line--highlight">
            <p class="typeface typeface--xl typeface--strong">Cotización: EU 28.000.000</p>
          </li>
        </ul>
      </section>
      <footer class="card__action card__action--no-pt">
        <ul class="l-list">
          <li class="l-list__line l-list__line--half l-list__line--center">
            <p class="typeface"><span class="typeface--strong">Nivel de impresión:</span>&nbsp;Bajo</p>
          </li>
          <li class="l-list__line l-list__line--half l-list__line--center">
            <p class="typeface"><strong class="typeface--strong">Valoración Base:</strong>&nbsp;102</p>
          </li>
          <li class="l-list__line l-list__line--center l-list__line--pad-top">
            <p class="typeface typeface--md typeface--upper"><strong class="typeface--strong">Valoración
                Total:</strong>&nbsp;124</p>
          </li>
          <li class="l-list__line l-list__line--action">
            <button class="button button--secondary button--shadows button--animated button--large">Volver</button>
            <button class="button button--primary button--shadows button--animated button--large">Solicitar</button>
          </li>
        </ul>
      </footer>
    </article>
  </div>
  <script src="https://kit.fontawesome.com/007d112e2a.js" crossorigin="anonymous"></script>
</body>

</html>