<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login Box</title>
  <link rel="stylesheet" href="/src/styles/styles.css" />
  <link rel="stylesheet" href="/src/styles/test-container.css" />
  <link rel="stylesheet" href="login-box.css" />
  <link rel="shortcut icon" href="/src/images/favicon.png" />  
</head>

<body>
  <div class="test-container test-container--full">
    <form class="form-login">
      <section class="form-login__header">
        <figure class="logo">
          <img class="logo__img" src="/src/images/logo-icon.png" alt="WorldCapp Logotipo"></img>
          <seFction class="logo__text">
            <span class="logo__first-part">world</span><span class="logo-center-dot">.</span><span
              class="logo__last-part">capp</span>
          </seFction>
        </figure>
      </section>
      <section class="form-login__actions">
        <section class="input-row">
          <label class="input-row__label">Usuario</label>
          <div class="input__wrapper">
            <input name="user" class="input input--icon-left" type="text" placeholder="Ingrese su usuario:" />
            <i class="input__icon input__icon--left fas fa-user"></i>
          </div>
        </section>
        <section class="input-row">
          <label class="input-row__label">Contraseña</label>
          <div class="input__wrapper">
            <input name="password" id="password" class="input input--icon-left" type="password" placeholder="Ingrese su contraseña:" />
            <i class="input__icon input__icon--left fas fa-key"></i>
          </div>
        </section>
        <button class="button button--primary button--font-md">Ingresar</button>
      </section>
    </form>
  </div>
</body>
<script src="https://kit.fontawesome.com/007d112e2a.js" crossorigin="anonymous"></script>

</html>