<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Card user</title>
  <link rel="stylesheet" href="/src/styles/styles.css" />
  <link rel="stylesheet" href="card-user.css" />
  
  <link rel="shortcut icon" href="/src/images/favicon.png" />
</head>

<body>
  <article class="user-card">
    <figure class="user-card__image"></figure>
    <div class="user-card__data">
      <section class="user-card__data-name">
        <p>
          elMuñe<button class="button button--icon button--animated button--dark"><i class="fas fa-pen-to-square fa-sm"></i></button>
        </p>
      </section>
      <section class="user-card__personal">
        <p class="typeface"><strong class="typeface--strong">Edad:</strong> 73 años</p>
        <p class="typeface"><strong class="typeface--strong">Ubicacion:</strong> Parque Chacabuco</p>
      </section>      
    </div>
  </article>
</body>
<script src="https://kit.fontawesome.com/007d112e2a.js" crossorigin="anonymous"></script>
</html>