@import url(/src/components/commons/button/button.css);
@import url(/src/components/commons/typeface/typeface.css);

.user-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.user-card__image {
  border-radius: 50%;
  width: 13em;
  height: 13em;
  box-shadow: var(--box-shadow-md);
  background: black center/contain no-repeat url(https://www.infobae.com/new-resizer/MQBzwcl--Jgxfm53chAmEYTm6V4=/arc-anglerfish-arc2-prod-infobae/public/PPHDXSRNQKYLGBP6WNPLD6S7DM.jpg);
}

.user-card__data {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
  align-content: space-between;
  text-align: center;
}

.user-card__data-name{
  font-size: 2em;
  font-weight: 800;
  display: flex;
  gap: 0.4em;
}

.user-card__personal{
  font-size: 1em;  
}