<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>List Component</title>
  <link rel="stylesheet" href="/src/styles/styles.css" />
  <link rel="stylesheet" href="/src/styles/test-container.css" />
  <link rel="stylesheet" href="list.css" />
  <link rel="shortcut icon" href="/src/images/favicon.png" />  
</head>

<body>
  <div class="test-container test-container--half">
    <ul class="l-list">
      <li class="l-list__line l-list__line--half">
        <p class="typeface">
          <i class="fas fa-weight-scale fas-rp"></i><strong class="typeface--strong">Peso:</strong>&nbsp;88
        </p>
      </li>
      <li class="l-list__line l-list__line--half">
        <p class="typeface">
          <i class="fas fa-ruler-vertical"></i><i class="fas fa-person fas-rp"></i><strong class="typeface--strong">Altura:</strong>&nbsp;1.95 mts.
        </p>
      </li>
      <li class="l-list__line">
        <p class="typeface">
          <strong class="typeface--strong">Nacimiento:</strong>&nbsp;02/09/1992 - <em>31 años</em>
        </p>
      </li>
      <li class="l-list__line l-list__line--half">
        <span class="typeface"><strong class="typeface--strong">Casaca:</strong>&nbsp;23</span>
      </li>
      <li class="l-list__line l-list__line--half">
        <p class="typeface">
          <strong class="typeface--strong">Selección:</strong>&nbsp;Argentina
          <i class="fas fa-trophy fas--highlighted">&nbsp;3</i>
        </p>
      </li>
      <li class="l-list__line l-list__line--half">
        <span class="typeface"><strong class="typeface--strong">Debut:</strong>&nbsp;2012</span>
      </li>
      <li class="l-list__line l-list__line--half">
        <p class="typeface typeface--upper">
          conmebol
          <i class="fas fa-trophy fas--highlighted">&nbsp;10</i>
        </p>
      </li>
      <li class="l-list__line l-list__line--half">
        <p class="typeface"><strong class="typeface--strong">Posición:</strong>&nbsp;Arquero</p>
      </li>
      <li class="l-list__line l-list__line--half">
        <p class="typeface"><strong class="typeface--strong">No es lider</strong><span>
      </li>
      <li class="l-list__line l-list__line--center l-list__line--focus l-list__line--highlight">
        <p class="typeface typeface--xl typeface--strong">Cotización: EU 28.000.000</p>
      </li>
    </ul>
  </div>
</body>
<script src="https://kit.fontawesome.com/007d112e2a.js" crossorigin="anonymous"></script>
</html>